<% include ../partials/header %>

	<!-- <section id="chatroom">
		<section id="feedback"></section>
	</section>

	<section id="input_zone">
		<input id="message" class="vertical-align" type="text" />
		<button action="/message" id="send_message" class="vertical-align btn btn-primary" type="button">Send</button>
	</section> -->



	<div class="container">
	    <div class="row">
	        <div class="col-md-5">
				<div class="panel-body">
                    <ul id="chatroom" class="chat">

                    </ul>
					<section id="feedback"></section>
				</div>
                <div class="panel-footer">
                    <div class="input-group">
						<input id="message" class="vertical-align" type="text" placeholder="Type your message here..."  />
						<button action="/message" id="send_message" class="vertical-align btn btn-primary" type="button">Send</button>
                    </div>
                </div>

	        </div>
	    </div>
	</div>

	<script>
		//make connection
		var socket = io.connect();
		//buttons and inputs
		var message = $("#message");
		var send_message = $("#send_message");
		var chatroom = $("#chatroom");
		var feedback = $("#feedback");
		//populate the message history
		getMessages();
		//Emit message
		send_message.click(function(){
			socket.emit('new_message', {sendmessage : message.val(),sendTo:"<%=talkingto%>",sender:"<%=currentUser.username%>"});
			sendMessage({sendmessage: message.val(),sendTo:"<%=talkingto%>"});
		})

		//Listen on new_message
		socket.on("new_message", (data) => {
			feedback.html('');
			message.val('');
			console.log("Peep Data: ",data);
			addMessages(data);
		})

		//Emit typing
		message.bind("keypress", () => {
			socket.emit('typing')
		})

		//Listen on typing
		socket.on('typing', (data) => {
			feedback.html("<p><i> typing a message..." + "</i></p>");
		})

		function sendMessage(message){
			$.post('http://localhost:3000/message', message);
		}
		function addMessages(message){
			console.log("Sendto: ",message.sendTo);
			console.log("Talkingto: ","<%=talkingto%>");
			console.log("Current User: ","<%=currentUser.username%>");
			//Ensure user only sees who they are talking to
			if(message.sendTo=="<%=talkingto%>" && message.sender=="<%=currentUser.username%>"){
				chatroom.append(`<li class="right clearfix">
					<div class="chat-body clearfix">
						<div class="header">
							<small class=" text-muted"><span class="glyphicon glyphicon-time"></span></small>
							<strong class="pull-right primary-font">`+ message.sender +`</strong>
						</div>
						<p>
							`+message.message+`
						</p>
					</div>
				</li>`);
			}
			if(message.sender=="<%=talkingto%>"){
				chatroom.append(`<li class="right clearfix">
					<div class="chat-body clearfix">
						<div class="header">
							<small class=" text-muted"><span class="glyphicon glyphicon-time"></span></small>
							<strong class="pull-right primary-font">`+ message.sender +`</strong>
						</div>
						<p>
							`+message.message+`
						</p>
					</div>
				</li>`);
			}
		}
		function getMessages(){
			 $.get('http://localhost:3000/message', (data) => {
				 console.log("here is data:",data);
			   data.forEach(addMessages);
			 })
		   }
	</script>

<% include ../partials/footer %>
